<template>
<Modal>
  <template v-slot:name>
    <PageHeader type="h5">{{ title }}</PageHeader>
  </template>

  <div class="ActionModal__text">{{ text }}</div>

  <template v-slot:footer="{ close }">
    <Button
      v-for="btn in leftButtons"
      :key="btn.action"
      link
      :text-color="$options.cssVars.colorPrimary"
      v-on:click="onClick(btn.action, close)"
    >
      {{ btn.name }}
    </Button>
    <div class="ActionModal__buttons">
      <Button
        v-for="btn in rightButtons"
        :key="btn.action"
        link
        :text-color="$options.cssVars.colorPrimary"
        v-on:click="onClick(btn.action, close)"
      >
        {{ btn.name }}
      </Button>
    </div>
  </template>
</Modal>
</template>

<script>
import { Button, Modal, PageHeader } from '@/components/base';
import cssVars from '@/styles/exports.sass';

export const ActionModalType = Object.freeze({
  CANCEL: Symbol('Action type cancel'),
  CONFIRM: Symbol('Action type confirm'),
  DENY: Symbol('Action type deny'),
  OK: Symbol('Action type ok'),
});

const actionNameMap = Object.freeze({
  [ActionModalType.CANCEL]: 'Cancel',
  [ActionModalType.CONFIRM]: 'Yes',
  [ActionModalType.DENY]: 'No',
  [ActionModalType.OK]: 'Ok',
});

function createButton(action) {
  return {
    action,
    name: actionNameMap[action],
  };
}

export default {
  components: {
    PageHeader,
    Button,
    Modal,
  },

  emits: ['action'],

  props: {
    title: String,
    text: String,
    actions: {
      type: Array,
      default: () => ([ActionModalType.DENY, ActionModalType.CONFIRM]),
    },
  },

  computed: {
    rightButtons() {
      return this.actions
        .filter((a) => a !== ActionModalType.CANCEL)
        .map(createButton);
    },
    leftButtons() {
      return this.actions
        .filter((a) => a === ActionModalType.CANCEL)
        .map(createButton);
    },
  },

  methods: {
    async onClick(action, close) {
      this.$emit('action', action);
      close();
    },
  },

  cssVars,
};
</script>

<style lang="sass">
.ActionModal
  &__text
    margin-bottom: 15px

  &__buttons
    margin-left: auto

    & > *
      margin-left: 15px
</style>
