<template>
<Modal>
  <template v-slot:name>Add word to dictionary</template>

  <template v-slot:default="{ close }">
    <div class="AddWordModal">
      <WordForm
        v-on:submit.prevent="onSubmit(close)"
        v-model="wordEntity"
        :loading="addWordState === RequestState.PENDING"
      />
    </div>
  </template>
</Modal>
</template>

<script>
import { ref, toRaw } from 'vue';

import { createDictionaryWord, EntityType } from '@/core/entities/useEntity';
import { RequestState, useAsyncStorage, useSnack } from '@/core/hooks';

import Modal from '../base/Modal.vue';
import WordForm from '../forms/WordForm.vue';

export default {
  components: {
    WordForm,
    Modal,
  },

  props: {
    word: String,
  },

  setup(props) {
    const { add: [addWord, addWordState] } = useAsyncStorage(EntityType.DICTIONARY_WORD);
    const { snack } = useSnack();

    const wordEntity = ref(createDictionaryWord({
      word: props.word,
      wordTranslation: null,
    }));

    return {
      wordEntity,
      snack,
      addWord,
      addWordState,
      RequestState,
    };
  },

  methods: {
    async onSubmit(close) {
      await this.addWord(toRaw(this.wordEntity));
      this.snack.success('Word added!');
      this.wordEntity = createDictionaryWord({
        word: null,
        wordTranslation: null,
      });
      close();
    },
  },
};
</script>

<style lang="sass">
.AddWordModal
  &__button
    margin: auto
</style>
