<template>
<Modal>
  <template v-slot:name>Edit word</template>

  <template v-slot:default="{ close }">
    <div class="EditWordModal">
      <WordForm
        v-on:submit.prevent="onSubmit(close)"
        v-model="wordCopy"
        :loading="updateWordState === RequestState.PENDING"
      />
    </div>
    </template>
</Modal>
</template>

<script>
import {
  onUnmounted,
  ref,
  toRaw,
  unref,
  watch,
} from 'vue';

import { Modal } from '@/components/base';
import { WordForm } from '@/components/forms';
import { cloneEntity, EntityType, isDictionaryWord } from '@/core/entities/useEntity';
import { RequestState, useAsyncStorage } from '@/core/hooks';

export default {
  components: {
    Modal,
    WordForm,
  },

  emits: ['update'],

  props: {
    word: {
      type: Object,
      validator: (v) => isDictionaryWord(v),
    },
  },

  setup(props) {
    const wordCopy = ref(props.word);

    const stopWatch = watch(
      () => unref(props.word),
      () => { wordCopy.value = cloneEntity(props.word); },
    );

    onUnmounted(stopWatch);

    const { update: [updateWord, updateWordState] } = useAsyncStorage(EntityType.DICTIONARY_WORD);

    return {
      wordCopy,
      updateWord,
      updateWordState,
      RequestState,
    };
  },

  methods: {
    async onSubmit(close) {
      await this.updateWord(toRaw(this.wordCopy));
      this.$emit('update');
      close();
    },
  },
};
</script>

<style lang="sass">
.AddWordModal
  &__button
    margin: auto
</style>
