<template>
<ActionModal
  :show="showModal"
  :title="activeActionModal?.title"
  :text="activeActionModal?.text"
  v-on:action="setActionResult"
  v-on:close="closeActionModal"
/>
</template>

<script>
import { ActionModal } from '@/components/modals';
import { useActionModal } from '@/core/hooks';

export default {
  components: { ActionModal },

  setup() {
    const { activeActionModal, closeActionModal, setActionResult } = useActionModal();

    return {
      activeActionModal,
      closeActionModal,
      setActionResult,
    };
  },

  computed: {
    showModal() {
      return this.activeActionModal !== null;
    },
  },
};
</script>
