<template>
<ContextMenu
  v-if="showContextMenu"
  :name="activeContextMenu.name"
  :position="activeContextMenu.position"
  :options="activeContextMenu.options"
/>
</template>

<script>
import { ContextMenu } from '@/components/base';
import { useContextMenu, useEventListener } from '@/core/hooks';

export default {
  components: {
    ContextMenu,
  },

  setup() {
    const { activeContextMenu, closeContextMenu } = useContextMenu();

    useEventListener(window, 'scroll', closeContextMenu);

    return {
      activeContextMenu,
      closeContextMenu,
    };
  },

  computed: {
    showContextMenu() {
      return this.activeContextMenu !== null;
    },
  },
};
</script>
