<template>
    <component
      :is="currentModal?.name"
      :show="!!currentModal"
      v-bind="currentModal?.options"
      v-on:close="closeModal"
    />
</template>

<script>
import { useModal } from '@/core/hooks';
import { components } from '@/core/hooks/useModal';

export default {
  components,

  setup() {
    const { modalQueue, closeModal } = useModal();

    return {
      modalQueue,
      closeModal,
    };
  },

  computed: {
    currentModal() {
      return this.modalQueue[0] ?? null;
    },
  },
};
</script>
