<template>
<nav class="Navigation">
  <div class="Navigation__nav">
    <div class="Navigation__item">
      <router-link
        exact
        class="Navigation__item-link"
        v-for="item in items"
        :key="item.name"
        :to="{ name: item.route }"
        active-class="Navigation__item-link--active"
      >
        {{ item.name }}
      </router-link>
    </div>
  </div>
</nav>
</template>

<script>
import { RouteName } from '@/router/routes';

export default {
  computed: {
    items() {
      return [
        {
          route: RouteName.TRANSITION_LIST,
          name: 'Translations list',
        },
        {
          route: RouteName.TRANSITION_ADD,
          name: 'Translation add',
        },
        {
          route: RouteName.DICTIONARY,
          name: 'Dictionary',
        },
      ];
    },
  },
};
</script>

<style lang="sass">
$navigation-height: 56px

.Navigation
  height: $navigation-height
  display: flex
  border-bottom: 1px solid rgba(#000, 0.2)
  margin-bottom: 15px
  padding: 0 15px
  flex-shrink: 0

  &__nav
    align-self: center

  &__item-link
    padding: 10px 0
    margin-right: 1.5em
    font-weight: 400
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 0.05em
    color: rgba(#000, 0.6)
    white-space: nowrap

    &--active
      color: $color-primary
      font-weight: 500
</style>
