<template>
<Snack
  v-for="(snack, i) in snacks"
  :key="snack"
  :position="i"
  :text="snack.text"
  :options="snack.options"
  v-on:hide="hideSnack"
/>
</template>

<script>

import { Snack } from '@/components/base';
import { useSnack } from '@/core/hooks';

export default {
  components: {
    Snack,
  },

  setup() {
    const { snacks, hideSnack } = useSnack();

    return {
      snacks,
      hideSnack,
    };
  },
};
</script>
