<template>
<div class="TranslationPresentation">
  <PageHeader type="h3">
    <div
      ref="span"
      class="TranslationPresentation__name"
      :class="{'TranslationPresentation__name--active': titleHighlighted }"
    >{{ translation.name }}</div>
  </PageHeader>

  <div ref="content">
    <p
      class="TranslationPresentation__paragraph"
      :class="{ 'TranslationPresentation__paragraph--active': activeTextParagraph === i }"
      v-for="(p, i) in textParagraphs"
      :key="i"
    >
      {{ p }}
    </p>
  </div>
</div>
</template>

<script>
import { onMounted, ref } from 'vue';

import { PageHeader } from '@/components/base';
import { ContextMenu } from '@/components/base/ContextMenu.vue';
import { addTemporaryClass } from '@/core/helpers';
import { useContextMenu, useTextSelection } from '@/core/hooks';

export default {
  components: {
    PageHeader,
  },

  props: {
    translation: Object,
    titleHighlighted: Boolean,
    activeTextParagraph: Number,
  },

  watch: {
    'translation.nameTranslation': function onNameTranslationChange() {
      addTemporaryClass(this.$refs.span, 'TranslationPresentation__name--highlighted');
    },
    'translation.textTranslation': function onTextTranslationChange() {
      const p = document.querySelectorAll('.TranslationPresentation__paragraph')[this.activeTextParagraph];
      addTemporaryClass(p, 'TranslationPresentation__paragraph--highlighted');
    },
  },

  setup() {
    const content = ref(null);

    const { onTextSelection } = useTextSelection();
    const { showContextMenu } = useContextMenu();

    onMounted(() => {
      onTextSelection(content, ({ text, rect }) => {
        const word = text.trim();

        if (word && word.split(' ').length === 1) {
          showContextMenu(ContextMenu.WORD, rect, {
            word: text.replace(/[\W]+/g, ''),
          });
        }
      });
    });

    return {
      content,
    };
  },

  computed: {
    textParagraphs() {
      return this.translation.text?.split('\n').filter((it) => it);
    },
  },
};
</script>

<style lang="sass">
$highlight-color: #e3f9ff

.TranslationPresentation
  width: 100%

  &__name
    transition: background-color 0.5s

    &--active
      background-color: $highlight-color

    &--highlighted
      background-color: darken($highlight-color, 10%)

  &__paragraph
    margin-bottom: 15px
    font-size: 1.15em
    transition: background-color 0.5s

    &--active
      font-weight: 400
      background-color: $highlight-color

    &--highlighted
      background-color: darken($highlight-color, 10%)
</style>
