<template>
<div class="Development">
  <Button v-on:click="showModal('ModalAddWord')">Open modal</Button>
  <br />
  <br />
  <Button v-on:click="snack.success('hello success')">Show snack success</Button>
  <br />
  <br />
  <Button v-on:click="snack.error('hello error')">Show snack error</Button>
  <br />
  <br />
  <Button v-on:click="snack.info('hello info')">Show snack info</Button>
</div>
</template>

<script>

import { Button } from '@/components/base';
import { useModal, useSnack } from '@/core/hooks';

export default {
  components: {
    Button,
  },

  data: () => ({
    showP: false,
  }),

  setup() {
    const { snack } = useSnack();
    const { showModal } = useModal();

    return {
      snack,
      showModal,
    };
  },
};
</script>

<style scoped>

</style>
