<template>
  <component
    :class="classes"
    :is="to ? 'router-link' : 'button'"
    :to="to"
    :type="type"
    :style="styles"
  >
    <div class="Button__content">
      <Preloader v-if="pending" />
      <template v-else>
        <FontAwesomeIcon
          class="Button__icon"
          v-if="icon"
          :icon="icon"
        />
        <slot />
      </template>
    </div>
  </component>
</template>
<script>
import Preloader from './Preloader.vue';

export default {
  components: { Preloader },
  props: {
    type: { type: String, default: 'button' },
    color: { type: String, default: 'secondary' },
    textColor: { type: String, default: '#000' },
    size: { type: String, default: 'md' },
    icon: String,
    box: Boolean,
    to: Object,
    pending: Boolean,
    link: Boolean,
  },

  computed: {
    classes() {
      return {
        Button: true,
        [`Button--${this.color}`]: true,
        [`Button--${this.size}`]: true,
        'Button--box': this.box,
        'Button--link': this.link,
      };
    },
    styles() {
      return {
        '--button__text-color': this.textColor,
      };
    },
  },
};
</script>

<style lang="sass">
$sizes: sm, md, lg
$font-size: (sm: 12px, md: 14px, lg: 16px)
$border-radius: (sm: 4px, md: 4px, lg: 6px)
$padding: (sm: 0 14px, md: 0 16px, lg: 0 18px)
$height: (sm: 30px, md: 36px, lg: 42px)

$colors: (primary: $color-primary, secondary: $color-secondary)

.Button
  font-weight: 500
  letter-spacing: 1.25px
  text-transform: uppercase
  cursor: pointer
  transition: all .3s
  user-select: none
  text-align: center
  box-sizing: content-box
  position: relative
  text-decoration: none
  min-width: 64px // non-icon
  display: inline-flex
  align-items: center
  justify-content: center
  border: none
  &--disabled
    opacity: 0.5
    pointer-events: none
    cursor: auto
  &--box
    width: 100%

  &__content
    position: relative
    transition: all .25s
    white-space: nowrap
    &--hidden
      opacity: 0
      transform: scale(0.95)
    & > *:not(:last-child)
      margin-right: 5px

  &__preloader
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: all .25s
    display: flex
    align-items: center
    justify-content: center
    opacity: 0.5
    &--hidden
      opacity: 0
      transform: scale(0)

@each $size-name in $sizes
  .Button--#{$size-name}
    font-size: map-get($font-size, $size-name)
    height: map-get($height, $size-name)
    padding: map-get($padding, $size-name)
    border-radius: map-get($border-radius, $size-name)

@each $type-name, $type-color in $colors
  .Button--#{$type-name}
    color: #fff
    background-color: transparentize($type-color, 0)
    &:hover, &:focus
      background-color: transparentize($type-color, 0.25)
    &:active
      background-color: transparentize($type-color, 0.05)

.Button--link
  background: none
  font-weight: 600
  min-width: 32px
  padding: 0
  color: var(--button__text-color)

  &:hover,
  &:active,
  &:focus
    background: none
</style>
