<template>
<div
  class="Card"
  :style="{
    '--Card__padding': `${padding}px`,
    '--Card__radius': `${radius}px`,
    '--Card__background': background,
  }"
>
  <slot />
</div>
</template>

<script>
export default {
  props: {
    padding: {
      type: Number,
      default: 15,
    },
    radius: {
      type: Number,
      default: 5,
    },
    background: {
      type: String,
      default: '#fff',
    },
  },
};
</script>

<style lang="sass">
.Card
  box-shadow: 0 2px 1px -1px rgba(#000, 0.2), 0 1px 1px 0 rgba(#000, 0.14), 0 1px 3px 0 rgba(#000, 0.12)
  padding: var(--Card__padding)
  border-radius: var(--Card__radius)
  background: var(--Card__background)
</style>
