<template>
<teleport to="body">
  <div ref="contextMenu" class="ContextMenu" :style="styles">
    <component
      :is="contextMenuComponent"
      v-bind="options"
      v-on:close="closeContextMenu"
    />
  </div>
</teleport>
</template>

<script>
import { ref } from 'vue';

import { WordContextMenu } from '@/components/context-menu';
import { useClickOutside, useContextMenu } from '@/core/hooks';

export const ContextMenu = {
  WORD: Symbol('Context menu word'),
};

const ContextMenuMap = {
  [ContextMenu.WORD]: 'WordContextMenu',
};

export default {
  components: {
    WordContextMenu,
  },

  props: {
    name: Symbol,
    position: Object,
    options: Object,
  },

  setup() {
    const contextMenu = ref(null);
    const { onClickOutside } = useClickOutside();
    const { closeContextMenu } = useContextMenu();

    onClickOutside(contextMenu, closeContextMenu);

    return {
      contextMenu,
      closeContextMenu,
    };
  },

  computed: {
    contextMenuComponent() {
      return ContextMenuMap[this.name];
    },
    styles() {
      return {
        '--context-menu__top': `${this.position.bottom}px`,
        '--context-menu__left': `${this.position.right}px`,
      };
    },
  },
};
</script>

<style lang="sass">
.ContextMenu
  position: fixed
  top: var(--context-menu__top)
  left: var(--context-menu__left)
</style>
