<script>
export default {
  render() {
    return (
      <form className="Form">
        {this.$slots.default()?.map((slot) => (
          <div className="Form__group">
            {slot}
          </div>
        ))}
      </form>
    );
  },
};
</script>

<style lang="sass">
.Form__group
  display: flex
  margin-bottom: 15px
  &:last-child
    margin-bottom: 0
</style>
