<template>
<teleport to="body">
  <transition name="backdrop" v-on:after-enter="showContent = true">
    <div class="Modal" v-if="show">
      <transition name="content" v-on:after-leave="$emit('close')">
        <div
          ref="modal"
          class="Modal__dialog"
          v-if="showContent"
        >
          <Card>
            <div class="Modal__dialog-header">
              <slot name="header">
                <div class="Modal__dialog-header-left">
                  <slot name="name"></slot>
                </div>
                <div class="Modal__dialog-header-right">
                  <slot name="close">
                    <FontAwesomeIcon
                      class="Modal__close"
                      icon="times"
                      v-on:click="showContent = false"
                    />
                  </slot>
                </div>
              </slot>
            </div>
            <div class="Modal__dialog-body">
              <slot :close="close"/>
            </div>
            <div class="Modal__dialog-footer">
              <slot name="footer" :close="close" />
            </div>
          </Card>
        </div>
      </transition>
    </div>
  </transition>
</teleport>
</template>

<script>
import { ref } from 'vue';

import { useClickOutside, useEventListener } from '@/core/hooks';

import Card from './Card.vue';

const ESCAPE_KEY_CODE = 27;

export default {
  components: {
    Card,
  },

  emits: ['close'],

  props: {
    show: Boolean,
  },

  setup() {
    const modal = ref(null);
    const showContent = ref(false);
    const { onClickOutside } = useClickOutside();
    const close = () => { showContent.value = false; };

    useEventListener(window, 'keydown', (e) => {
      if (e.keyCode === ESCAPE_KEY_CODE) {
        close();
      }
    });

    onClickOutside(modal, close);

    // TODO: Костыль, почему-то при маунте компонента не срабатывает after-enter
    setTimeout(() => {
      showContent.value = true;
    });

    return { close, modal, showContent };
  },
};
</script>

<style lang="sass">
.Modal
  position: fixed
  display: flex
  background-color: rgba(#ddd, 0.5)
  width: 100%
  height: 100%
  top: 0
  left: 0

  &__dialog-footer
    display: flex

  &__close
    cursor: pointer

  &__dialog
    margin: auto
    min-width: 320px

  &__dialog-header
    display: grid
    grid-template-columns: 1fr 1fr

  &__dialog-header-left
    justify-self: flex-start

  &__dialog-header-right
    justify-self: flex-end

// transition animations
.backdrop-enter-active
  transition: opacity 0.15s ease-out

.backdrop-leave-active
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1)

.backdrop-enter-from,
.backdrop-leave-to
  opacity: 0

.content-enter-active
  transition: transform 0.3s ease-out

.content-leave-active
  transition: transform 0.15s cubic-bezier(1, 0.5, 0.8, 1)

.content-enter-from,
.content-leave-to
  transform: translateY(50px)
</style>
