<template>
<component
  :class="classes"
  :is="type"
>
  <slot />
</component>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'h1',
    },
  },

  computed: {
    classes() {
      return [
        'PageHeader',
        `PageHeader--${this.type}`,
      ];
    },
  },
};
</script>

<style lang="sass">
.PageHeader
  font-weight: 300
  margin-bottom: 1em

  &--h1
    font-size: 2em

  &--h3
    font-size: 1.5em

  &--h5
    font-size: 1.125em
</style>
