<template>
<div class="Preloader">
    <svg class="Preloader__circle" viewBox="25 25 50 50">
      <circle
        :style="{ '--Preloader__color': color }"
        class="Preloader__circle-path"
        cx="50"
        cy="50"
        r="20"
        fill="none"
        stroke-width="2"
      />
    </svg>
</div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#fff',
    },
  },
};
</script>

<style lang="sass">
$green: #008744
$blue: #0057e7
$red: #d62d20
$yellow: #ffa700
$white: #eee
$width: 16px

.Preloader
  position: relative
  width: 15px

  &::before
    content: ''
    display: block
    padding-top: 100%

  .Preloader__circle
    animation: rotate 2s linear infinite
    height: 100%
    transform-origin: center center
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    width: $width

    .Preloader__circle-path
      stroke-dasharray: 1, 200
      stroke-dashoffset: 0
      animation: dash 1.5s ease-in-out infinite
      stroke-linecap: round
      stroke: var(--Preloader__color)

@keyframes rotate
  100%
    transform: rotate(360deg)

@keyframes dash
  0%
    stroke-dasharray: 1, 200
    stroke-dashoffset: 0
  50%
    stroke-dasharray: 89, 200
    stroke-dashoffset: -35px
  100%
    stroke-dasharray: 89, 200
    stroke-dashoffset: -124px
</style>
