<template>
<teleport to="body">
  <transition name="snack" v-on:after-leave="$emit('hide', options.id)">
    <div v-if="show" :class="classes" :style="styles">
      {{ text }}
      <FontAwesomeIcon
        class="Snack__icon"
        icon="times"
        v-on:click="onHideHandler"
      />
    </div>
  </transition>
</teleport>
</template>

<script>
// TODO: dynamic height
const SNACK_HEIGHT = 38;
const SNACK_OFFSET = 15;

const defaultSettings = {
  type: 'info',
  duration: 2000,
};

export default {
  emits: ['hide'],

  props: {
    position: Number,
    text: String,
    options: {
      type: Object,
      default: () => ({
        ...defaultSettings,
      }),
    },
  },

  data: () => ({
    show: false,
    timeout: null,
  }),

  computed: {
    allSettings() {
      return {
        ...defaultSettings,
        ...this.options,
      };
    },

    classes() {
      return ['Snack', `Snack--${this.allSettings.type}`];
    },

    styles() {
      return {
        '--Snack__offset': `${(SNACK_HEIGHT + SNACK_OFFSET) * (this.position + 1)}px`,
      };
    },
  },

  mounted() {
    this.show = true;
    this.timeout = setTimeout(() => {
      this.show = false;
    }, this.allSettings.duration);
  },

  unmounted() {
    clearTimeout(this.timeout);
  },

  methods: {
    onHideHandler() {
      clearTimeout(this.timeout);
      this.show = false;
    },
  },
};
</script>

<style lang="sass">
$snack-height: 38px
$colors: (success: #d1e7dd, info: #cfe2ff, error: #f8d7da)

.Snack
  position: fixed
  right: 15px
  top: 0
  transform: translate(0, var(--Snack__offset))
  border-radius: 10px
  border: 1px solid transparent
  width: 320px
  padding: 10px 30px 10px 10px
  max-height: $snack-height
  transition: opacity 0.3s ease-out, transform 0.3s ease-out
  color: #fff

  &__icon
    cursor: pointer
    position: absolute
    right: 10px
    line-height: 1
    top: 10px

@each $type, $color in $colors
  .Snack--#{$type}
    background-color: #{$color}
    border-color: darken($color, 5%)
    color: darken($color, 30%)
.snack-enter-from,
.snack-leave-to
  transform: translate(100px, var(--Snack__offset))
  opacity: 0
</style>
