<template>
<div class="SplitView">
  <div class="SplitView__left">
    <slot name="left"/>
  </div>
  <div class="SplitView__separator" />
  <div class="SplitView__right">
    <slot name="right" />
  </div>
</div>
</template>

<script>
export default {
  name: 'SplitView',
};
</script>

<style lang="sass">
.SplitView
  display: flex

  &__separator
    width: 5px
    flex-shrink: 0
    cursor: w-resize

  &__left,
  &__right
    height: 100%
    width: 100%
</style>
