<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => ([]),
    },
  },

  render() {
    return (
      <table className="Table">
        <thead>
        <tr>
          {this.$slots.head()?.map((th) => (<th className="Table__header">{th}</th>))}
        </tr>
        </thead>
        <tbody>
        {this.$slots.default()?.map((row) => (<tr>{row}</tr>))}
        </tbody>
      </table>
    );
  },
};
</script>

<style lang="sass">
.Table
  width: 100%

  &__header
    padding: 0 10px
    height: 48px
    vertical-align: middle
    font-weight: 500
    color: rgba(#000, 0.5)
    user-select: none
    border-bottom: 1px solid rgba(#000, 0.05)
    &:first-child
      width: 50px
    &--name
      width: 100%

  &__column
    padding: 10px 15px
    height: 48px
    vertical-align: middle
    color: #000
    border-bottom: 1px solid rgba(#000, 0.05)
    &:first-child
      text-align: center
    &--actions
      & > *:not(:last-child)
        margin-bottom: 5px

  &__row
    &:hover
      .TranslationsList__table-column
        background-color: rgba(#000, 0.05)
</style>
