<template>
<div :class="classes">
  <component
    ref="input"
    class="TextInput__input"
    placeholder=" "
    :is="tag"
    :value="modelValue"
    v-on:blur="onBlur"
    v-on:change="onChange"
    v-on:click="onCursorPositionChange"
    v-on:focus="onFocus"
    v-on:input.stop="onInput"
    v-on:keyup="onCursorPositionChange"
  />
  <div
    v-if="label"
    class="TextInput__label"
  >
    {{ label }}
  </div>
  <div class="TextInput__additional" />
</div>
</template>

<script>
export default {
  props: {
    label: String,
    modelValue: String,
    multiline: Boolean,
  },

  computed: {
    tag() {
      return this.multiline ? 'textarea' : 'input';
    },
    classes() {
      return {
        TextInput: true,
        'TextInput--multiline': this.multiline,
      };
    },
  },

  methods: {
    onBlur() {
      this.$emit('blur');
      this.$emit('activeParagraph', null);
    },
    onChange(e) {
      this.$emit('changed', e.target.value);
    },
    onCursorPositionChange() {
      const textLines = this.$refs.input.value.substr(0, this.$refs.input.selectionStart).split('\n');

      this.$emit('activeParagraph', textLines.length - 1);
    },
    onFocus() {
      this.$emit('focus');
      this.onCursorPositionChange();
    },
    onInput(e) {
      this.$emit('update:modelValue', e.target.value);
      this.onCursorPositionChange();
    },
  },
};
</script>

<style lang="sass">
$text-input-height: 32px
$text-input-padding: 16px
$text-input-font-size: 16px
$text-input-line-height: 16px * 1.5
$text-input-indicator-height: 2px

$text-input-transform-duration: 0.3s

.TextInput
  position: relative
  border-bottom: 1px solid $color-secondary
  font-size: $text-input-font-size
  padding-top: $text-input-padding
  width: 100%
  flex-grow: 1

  &__label
    position: absolute
    font-size: $text-input-font-size
    line-height: $text-input-height
    top: $text-input-padding
    transition: transform $text-input-transform-duration, color $text-input-transform-duration
    transform-origin: top left
    pointer-events: none

  &__input
    display: block
    width: 100%
    min-width: 100%
    height: $text-input-height
    font-size: $text-input-font-size
    border: none
    padding: 0
    font-family: 'Roboto', sans-serif

    &:focus
      outline: none

      & ~ .TextInput__additional:after
        transform: scaleX(1)

      & ~ .TextInput__label
        color: $color-primary
        transform: translateY(-55%) scale(0.75)

    &:not(:placeholder-shown)
      & ~ .TextInput__label
        transform: translateY(-55%) scale(0.75)

  &__additional
    &:after
      content: ''
      display: block
      height: $text-input-indicator-height
      background-color: $color-primary
      width: 100%
      position: absolute
      bottom: -1px
      transition: transform $text-input-transform-duration
      transform: scaleX(0)

  &--multiline
    .TextInput__input
      min-height: $text-input-font-size * 35
      line-height: 1.5
      padding: 5px 0
      resize: vertical
</style>
