<template>
<div class="WordContextMenu">
  <Preloader class="WordContextMenu__preloader" v-if="fetchState === RequestState.PENDING"/>

  <div v-else-if="fetchState === RequestState.SUCCESS" class="WordContextMenu__list">
    <PageHeader class="WordContextMenu__header">
      <span>{{ word }}</span>
      <Button
        link
        icon="plus"
        text-color="#fff"
        v-on:click="showModal(Modal.ADD_WORD, { word }), $emit('close')"
      />
    </PageHeader>

    <div v-if="sentences?.length > 0" class="WordContextMenu__category">
      <PageHeader class="WordContextMenu__subheader" type="h3">{{ sentences.join(', ') }}</PageHeader>
    </div>

      <div v-for="(words, key) in wordTranslations" :key="key">
        <div class="WordContextMenu__category">
          <PageHeader class="WordContextMenu__subheader" type="h3">{{ key }}</PageHeader>
          <div> {{ words.join(', ') }}</div>
        </div>
      </div>
  </div>
</div>
</template>

<script>
import { RequestState, useDictionaryApi, useModal } from '@/core/hooks';
import { Modal } from '@/core/hooks/useModal';

import Button from '../base/Button.vue';
import PageHeader from '../base/PageHeader.vue';
import Preloader from '../base/Preloader.vue';

export default {
  components: {
    Button,
    PageHeader,
    Preloader,
  },

  props: {
    word: {
      required: true,
      type: String,
    },
  },

  data: () => ({
    sentences: null,
    wordTranslations: null,
  }),

  setup() {
    const { showModal } = useModal();
    const { fetchMap: [fetchTranslation, fetchState] } = useDictionaryApi();

    return {
      Modal,
      showModal,
      fetchTranslation,
      fetchState,
      RequestState,
    };
  },

  async mounted() {
    const { sentences, ...rest } = await this.fetchTranslation(this.word);

    if (this.fetchState === RequestState.SUCCESS) {
      this.sentences = sentences;
      this.wordTranslations = rest;
    } else if (this.fetchState === RequestState.ERROR) {
      console.log('Error loading translations');
    }
  },
};
</script>

<style lang="sass">
.WordContextMenu
  border-radius: 6px
  overflow: hidden
  background-color: $color-secondary
  min-width: 300px

  &__header
    text-transform: capitalize
    margin-bottom: 15px
    display: flex
    align-items: center
    justify-content: space-between

  &__subheader
    margin-bottom: 5px
    text-transform: capitalize
    color: rgba(#fff, 0.75)

  &__category
    margin-bottom: 15px

  &__preloader
    padding: 15px

  &__list
    display: flex
    flex-direction: column
    padding: 15px
    color: #fff

  &__list-item
    padding: 10px 15px
    color: #fff
    cursor: pointer
    border: none
    background-color: $color-secondary

    &:hover
      background-color: darken($color-secondary, 5%)
    &:focus
      background-color: darken($color-secondary, 10%)
      border: none
      outline: none
    &:active
      background-color: darken($color-secondary, 15%)
</style>
