<template>
  <div class="TranslationsAdd">
    <PageHeader>Add translation</PageHeader>

    <Form v-on:submit.prevent="onSubmit">
      <TextInput
        v-model="name"
        label="Translation name"
      />
      <TextInput
        multiline
        v-model="text"
        label="Translation text"
      />
      <Button
        type="submit"
        :pending="RequestState.PENDING === addState"
      >
        Add
      </Button>
    </Form>
  </div>
</template>

<script>
import { useRouter } from 'vue-router';

import {
  Button,
  Form,
  PageHeader,
  TextInput,
} from '@/components/base';
import { createTranslation, EntityType } from '@/core/entities/useEntity';
import { RequestState, useAsyncStorage, useSnack } from '@/core/hooks';
import { RouteName } from '@/router/routes';

export default {
  components: {
    Button,
    Form,
    PageHeader,
    TextInput,
  },

  data: () => ({
    name: null,
    text: null,
  }),

  setup() {
    const {
      add: [add, addState],
    } = useAsyncStorage(EntityType.TRANSITION);

    const { snack } = useSnack();

    const router = useRouter();

    return {
      add,
      addState,
      RequestState,
      router,
      snack,
    };
  },

  methods: {
    async onSubmit() {
      const translation = createTranslation({
        name: this.name,
        text: this.text,
      });
      await this.add(translation);

      await this.router.replace({ name: RouteName.TRANSITION_LIST });

      if (this.addState === RequestState.SUCCESS) {
        this.snack.success('Successfully');
      } else if (this.addState === RequestState.ERROR) {
        this.snack.success('Some went wrong :(');
      }
    },
  },
};
</script>
