<template>
<div class="TranslationsList">
  <PageHeader>Translations List</PageHeader>

  <Preloader v-if="getAllState === RequestState.PENDING "/>

  <Card v-else-if="getAllState === RequestState.SUCCESS" :padding="0">
    <table class="TranslationsList__table">
      <thead>
      <tr>
        <th class="TranslationsList__table-header">ID</th>
        <th class="TranslationsList__table-header TranslationsList__table-header--name">Name</th>
        <th class="TranslationsList__table-header">Complete</th>
        <th class="TranslationsList__table-header">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr
        class="TranslationsList__table-row"
        v-for="t in translations"
        :key="t.id"
      >
        <td class="TranslationsList__table-column">{{ t.id }}</td>
        <td class="TranslationsList__table-column">{{ t.name }}</td>
        <td class="TranslationsList__table-column">{{ progressMap[t.id] }}%</td>
        <td class="TranslationsList__table-column TranslationsList__table-column--actions">
          <Button
            icon="edit"
            size="sm"
            :to="{ name: RouteName.TRANSITION_EDIT, params: { id: t.id } }"
          />
          <Button
            size="sm"
            icon="eye"
            :to="{ name: RouteName.TRANSITION_TRANSLATE, params: { id: t.id } }"
          />
          <Button
            size="sm"
            icon="trash"
            v-on:click="removeTranslationHandler(t)"
          />
        </td>
      </tr>
      </tbody>
    </table>
  </Card>
</div>
</template>

<script>
import {
  Button,
  Card,
  PageHeader,
  Preloader,
} from '@/components/base';
import { ActionModalType } from '@/components/modals/ActionModal.vue';
import { EntityType } from '@/core/entities/useEntity';
import {
  RequestState,
  useActionModal,
  useAsyncStorage,
  useSnack,
} from '@/core/hooks';
import { RouteName } from '@/router/routes';

export default {
  components: {
    Card,
    Button,
    Preloader,
    PageHeader,
  },

  setup() {
    const {
      get: [getAll, getAllState],
      remove: [remove, removeState],
    } = useAsyncStorage(EntityType.TRANSITION);

    const { showActionModal } = useActionModal();
    const { snack } = useSnack();

    return {
      RequestState,
      RouteName,
      getAll,
      getAllState,
      remove,
      removeState,
      showActionModal,
      snack,
    };
  },

  data: () => ({
    activeTranslation: false,
    translations: [],
  }),

  computed: {
    progressMap() {
      return this.translations.reduce((map, translation) => {
        const total = translation.text?.split('\n').filter((it) => it).length;
        const completed = translation.textTranslation?.split('\n').filter((it) => it).length || 0;

        const progress = (completed / total).toFixed(2) * 100;

        return {
          ...map,
          [translation.id]: Math.min(progress, 100),
        };
      }, {});
    },
  },

  mounted() {
    this.loadTranslations();
  },

  methods: {
    async loadTranslations() {
      this.translations = await this.getAll();
    },
    async removeTranslationHandler(translation) {
      const action = await this.showActionModal({
        title: 'Remove',
        text: `You are sure remove "${translation.name}"?`,
      });

      if (action === ActionModalType.CONFIRM) {
        await this.remove(translation);
        await this.loadTranslations();
        await this.snack.success(`Word "${translation.name}" successfully removed`);
      }
    },
  },
};
</script>

<style lang="sass">
.TranslationsList
  &__table
    width: 100%

    &-header
      padding: 0 10px
      height: 48px
      vertical-align: middle
      font-weight: 500
      color: rgba(#000, 0.5)
      user-select: none
      border-bottom: 1px solid rgba(#000, 0.05)
      &:first-child
        width: 50px
      &--name
        width: 100%

    &-column
      padding: 10px 15px
      height: 48px
      vertical-align: middle
      color: #000
      border-bottom: 1px solid rgba(#000, 0.05)
      &:first-child
        text-align: center
      &--actions
        & > *:not(:last-child)
          margin-bottom: 5px

    &-row
      &:hover
        .TranslationsList__table-column
          background-color: rgba(#000, 0.05)
</style>
