<template>
  <div class="TranslationsAdd">
    <PageHeader>Edit translation</PageHeader>

    <Preloader
      class="TranslationsAdd__preloader"
      v-if="!translation || RequestState.PENDING === getByIdState"
      :color="cssVars.colorPrimary"
    />

    <Form
      v-else
      v-on:submit.prevent="onSubmit"
    >
      <TextInput
        v-model="translation.name"
        label="Translation name"
      />
      <TextInput
        multiline
        v-model="translation.text"
        label="Translation text"
      />
      <Button
        type="submit"
        :pending="RequestState.PENDING === updateState"
      >
        Edit
      </Button>
    </Form>
  </div>
</template>

<script>
import { shallowRef } from 'vue';
import { useRouter } from 'vue-router';

import {
  Button,
  Form,
  PageHeader,
  Preloader,
  TextInput,
} from '@/components/base';
import { EntityType } from '@/core/entities/useEntity';
import { RequestState, useAsyncStorage, useSnack } from '@/core/hooks';
import { RouteName } from '@/router/routes';
import cssVars from '@/styles/exports.sass';

export default {
  components: {
    Preloader,
    Button,
    Form,
    PageHeader,
    TextInput,
  },

  data: () => ({
    translation: shallowRef(null),
  }),

  props: {
    id: {
      required: true,
      type: Number,
    },
  },

  setup() {
    const {
      update: [update, updateState],
      getById: [getById, getByIdState],
    } = useAsyncStorage(EntityType.TRANSITION);

    const router = useRouter();
    const { snack } = useSnack();

    return {
      update,
      updateState,
      getById,
      getByIdState,
      RequestState,
      cssVars,
      router,
      snack,
    };
  },

  async mounted() {
    this.translation = await this.getById(this.id);

    if (!this.translation) {
      await this.router.replace({ name: RouteName.TRANSITION_LIST });
    }
  },

  methods: {
    async onSubmit() {
      await this.update(this.translation);
      await this.router.replace({ name: RouteName.TRANSITION_LIST });
      if (this.updateState === RequestState.SUCCESS) {
        this.snack.success('Successfully');
      } else if (this.updateState === RequestState.ERROR) {
        this.snack.success('Some went wrong :(');
      }
    },
  },
};
</script>

<style lang="sass">
.TranslationsAdd
  display: flex
  flex-direction: column

</style>
