<template>
  <div class="TranslationsTranslate">
    <PageHeader>Translate translation</PageHeader>

    <Preloader
      class="TranslationsTranslate__preloader"
      v-if="!translation || RequestState.PENDING === getByIdState"
      :color="cssVars.colorPrimary"
    />

    <template v-else>
      <Card class="TranslationsTranslate__nav">
          <Button
            type="submit"
            form="form"
            :pending="RequestState.PENDING === updateState"
          >
            Save
          </Button>
      </Card>

      <Card>
        <SplitView class="TranslationsTranslate__split-view">
          <template v-slot:left>
            <TranslationPresentation
              :translation="translation"
              :title-highlighted="titleHighlighted"
              :active-text-paragraph="activeTextParagraph"
            />
          </template>
          <template v-slot:right>
            <Form id="form" v-on:submit.prevent="onSubmit">
              <TextInput
                v-model="translation.nameTranslation"
                label="Translation name"
                v-on:focus="titleHighlighted = true"
                v-on:blur="titleHighlighted = false"
              />
              <TextInput
                multiline
                label="Translation text"
                v-model="translation.textTranslation"
                v-on:activeParagraph="activeTextParagraph = $event"
              />
            </Form>
          </template>
        </SplitView>
      </Card>
    </template>
  </div>
</template>

<script>
import { toRaw } from 'vue';
import { useRouter } from 'vue-router';

import {
  Button,
  Card,
  Form,
  PageHeader,
  Preloader,
  SplitView,
  TextInput,
} from '@/components/base';
import { EntityType } from '@/core/entities/useEntity';
import { RequestState, useAsyncStorage, useSnack } from '@/core/hooks';
import { RouteName } from '@/router/routes';
import cssVars from '@/styles/exports.sass';

import TranslationPresentation from './components/TranslationPresentation.vue';

export default {
  components: {
    Card,
    TranslationPresentation,
    SplitView,
    Preloader,
    Button,
    Form,
    PageHeader,
    TextInput,
  },

  data: () => ({
    translation: null,
    titleHighlighted: false,
    activeTextParagraph: null,
  }),

  props: {
    id: {
      required: true,
      type: Number,
    },
  },

  setup() {
    const {
      update: [update, updateState],
      getById: [getById, getByIdState],
    } = useAsyncStorage(EntityType.TRANSITION);
    const { snack } = useSnack();
    const router = useRouter();

    return {
      update,
      updateState,
      getById,
      getByIdState,
      RequestState,
      cssVars,
      router,
      snack,
    };
  },

  async mounted() {
    this.translation = await this.getById(this.id);

    if (!this.translation) {
      await this.router.replace({ name: RouteName.TRANSITION_LIST });
    }
  },

  methods: {
    async onSubmit() {
      await this.update(toRaw(this.translation));

      if (this.updateState === RequestState.SUCCESS) {
        this.snack.success('Successfully');
      } else if (this.updateState === RequestState.ERROR) {
        this.snack.success('Some went wrong :(');
      }
    },
  },
};
</script>

<style lang="sass">
.TranslationsTranslate
  display: flex
  flex-direction: column
  height: 100%

  &__nav
    margin-bottom: 10px
    text-align: right

  &__split-view
    flex-grow: 1
</style>
