<template>
<div class="Dictionary">
  <div class="Dictionary__nav">
      <TextInput class="Dictionary__search" v-model="search" label="Search"/>
  </div>

  <Card :padding="0">
    <table class="Dictionary__table">
      <thead>
      <tr>
        <th class="Dictionary__table-header">Word</th>
        <th class="Dictionary__table-header">Translation</th>
        <th class="Dictionary__table-header">Actions</th>
      </tr>
      </thead>
      <tbody>
      <template v-if="wordsFiltered.length > 0">
        <tr
          class="Dictionary__table-row"
          v-for="word in wordsFiltered"
          :key="word.id"
        >
          <td class="Dictionary__table-column">{{ word.word }}</td>
          <td class="Dictionary__table-column">{{ word.wordTranslation }}</td>
          <td class="Dictionary__table-column Dictionary__table-column--actions">
            <Button
              icon="edit"
              size="sm"
              v-on:click="updateWordHandler(word)"
            />
            <Button
              size="sm"
              icon="trash"
              v-on:click="removeWordHandler(word)"
            />
          </td>
        </tr>
      </template>
      <tr v-else>
        <td class="Dictionary__table-column">No results</td>
      </tr>
      </tbody>
    </table>
  </Card>

  <EditWordModal
    :show="editModalShowed"
    :word="selectedWord"
    v-on:close="onModalCloseHandler"
    v-on:update="loadWords"
  />
</div>
</template>

<script>
import { Button, Card, TextInput } from '@/components/base';
import { EditWordModal } from '@/components/modals';
import { ActionModalType } from '@/components/modals/ActionModal.vue';
import { EntityType } from '@/core/entities/useEntity';
import {
  RequestState,
  useActionModal,
  useAsyncStorage,
  useSnack,
} from '@/core/hooks';
import { RouteName } from '@/router/routes';

export default {
  components: {
    Button,
    Card,
    EditWordModal,
    TextInput,
  },

  setup() {
    const {
      get: [getAllWords, getAllWordsState],
      remove: [removeWord],
    } = useAsyncStorage(EntityType.DICTIONARY_WORD);

    const { showActionModal } = useActionModal();
    const { snack } = useSnack();

    return {
      getAllWords,
      getAllWordsState,
      removeWord,
      RequestState,
      RouteName,
      showActionModal,
      snack,
    };
  },

  data: () => ({
    words: [],
    search: null,
    selectedWord: null,
    editModalShowed: false,
  }),

  computed: {
    wordsFiltered() {
      if (!this.search) {
        return this.words;
      }

      return this.words?.filter((w) => w.word?.toLowerCase()?.includes(this.search.toLowerCase()));
    },
  },

  mounted() {
    this.loadWords();
  },

  methods: {
    async loadWords() {
      this.words = await this.getAllWords();
    },

    async removeWordHandler(word) {
      const action = await this.showActionModal({
        title: 'Remove',
        text: `You are sure remove "${word.word}"?`,
      });

      if (action === ActionModalType.CONFIRM) {
        await this.removeWord(word);
        await this.loadWords();
        await this.snack.success(`Word "${word.word}" successfully removed`);
      }
    },

    async updateWordHandler(word) {
      this.selectedWord = word;
      this.editModalShowed = true;
    },

    onModalCloseHandler() {
      this.editModalShowed = false;
      this.selectedWord = null;
    },
  },
};
</script>

<style lang="sass">

.Dictionary
  &__nav
    margin-bottom: 15px
    display: grid

  &__search
    width: 300px
    justify-self: end

  &__table
    width: 100%
    table-layout: fixed

    &-header
      padding: 0 10px
      height: 48px
      vertical-align: middle
      font-weight: 500
      color: rgba(#000, 0.5)
      user-select: none
      border-bottom: 1px solid rgba(#000, 0.05)

    &-column
      padding: 10px 15px
      height: 48px
      vertical-align: middle
      color: #000
      border-bottom: 1px solid rgba(#000, 0.05)
      &--actions
        text-align: right
        & > *:not(:last-child)
          margin-right: 5px

    &-row
      &:hover
        .Dictionary__table-column
          background-color: rgba(#000, 0.05)
</style>
