<template>
  <div class="App">
    <Navigation />
    <div class="App__content">
      <router-view />
    </div>
  </div>
  <SnackBar />
  <ActionModalBar />
  <ContextMenuBar />
  <ModalBar />
</template>

<script>
import {
  ActionModalBar,
  ContextMenuBar,
  ModalBar,
  Navigation,
  SnackBar,
} from '@/components/layouts';

export default {
  components: {
    ActionModalBar,
    ContextMenuBar,
    SnackBar,
    ModalBar,
    Navigation,
  },
};
</script>

<style lang="sass">
.App
  height: 100%
  display: flex
  flex-flow: column
  &__content
    padding: 15px
    flex-grow: 1
</style>
