<template>
  <Form class="WordForm">
    <TextInput
      label="Word"
      v-model="value.word"
      v-on:change="onWordChange"
    />
    <TextInput
      label="Translation"
      v-model="value.wordTranslation"
    />
    <Button
      class="WordForm__button"
      type="submit"
      color="primary"
      :pending="loading"
    >
      Submit
    </Button>
  </Form>
</template>

<script>
import { isDictionaryWord } from '@/core/entities/useEntity';
import { RequestState, useDictionaryApi } from '@/core/hooks';

import Button from '../base/Button.vue';
import Form from '../base/Form.vue';
import TextInput from '../base/TextInput.vue';

export default {
  components: {
    Button,
    Form,
    TextInput,
  },

  props: {
    modelValue: {
      type: Object,
      validator: (v) => isDictionaryWord(v),
    },
    loading: Boolean,
  },

  computed: {
    value: {
      get() {
        return this.modelValue;
      },
      set(v) {
        this.$emit('input', v);
      },
    },
  },

  setup() {
    const { fetchList: [fetchList, fetchListState] } = useDictionaryApi();

    return {
      fetchList,
      fetchListState,
    };
  },

  mounted() {
    if (this.value?.word) {
      this.onWordChange();
    }
  },

  methods: {
    async onWordChange() {
      if (!this.value?.word) {
        return;
      }

      const translations = await this.fetchList(this.value.word);

      if (this.fetchListState === RequestState.SUCCESS) {
        this.value.wordTranslation = translations.join(', ');
      }
    },
  },
};
</script>

<style lang="sass">
.WordForm
  &__button
    margin: auto
</style>
